- model_class = Physician
.page-header
  %h1
    =t '.title', :default => model_class.model_name.human.pluralize 
    = link_to t('.new', :default => t("helpers.links.new")), new_physician_path, :class => 'btn btn-primary'                             
    
=#render :partial => "physicians/listing", :locals=>{:physicians=>@physicians, :model_class=>Physician }  
=render :partial => "physicians/grid", :locals=>{:physicians=>@physicians, :model_class=>Physician }              