- model_class = Patient
.page-header
  %h1
    =t '.title', :default => model_class.model_name.human.pluralize   
    = link_to t('.new', :default => t("helpers.links.new")), new_patient_path, :class => 'btn btn-primary'     
      
=#render :partial => "patients/listing", :locals=>{:patients=>@patients, :model_class=>Patient }       
=render :partial => "patients/grid", :locals=>{:patients=>@patients, :model_class=>Patient }        
      