//@import "compass";
//@include global-reset;


$bg: #faf7f7;
$color: #8c7e7e;

body {
  background: $bg - #050505;
  font-size: 13px;
  color: #444;
}


.text-shadow {
  text-shadow: none;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  position: relative;
}


#masonry {
  position: relative;
  margin: 0 auto;
}
.item {
  width: 192px;
  float: left;
  padding: 15px 15px 0;
  margin: 0 7px 15px;
  font-size: 12px;
  background: white;
  line-height: 1.5; 
  
  h2 {
    padding-top: 5px;
  }
  .comments {
    color: $color;
    padding-bottom: 15px;
  }
  .info {
    margin: 0 5px;
  }
  .infobox {
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(#000,.1);
    padding: 6px;
    clear: both;
    &:last-child {
      border-bottom: none; 
      clear: both;
    }
    &:first-child {
      color: #b29c9c;
      b {
        color: #8c7e7e;
      }
    }
    b {
      font-weight: bold;
    }
  }
 
}
.item:focus {
    border-color: rgba(82, 168, 236, 0.8);
      outline: 0;
      outline: thin dotted \9;
      /* IE6-9 */    
}           
