//@import "compass";
//@include global-reset;


$bg: #faf7f7;
$color: #8c7e7e;

body {
  background: $bg - #050505;
  font-size: 13px;
  color: #444;
}


.text-shadow {
  text-shadow: 0 1px 0 white;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  position: relative;
}


#masonry {
  position: relative;
  margin: 0 auto;
}
.item {
  width: 192px;
  float: left;
  padding: 15px 15px 0;
  margin: 0 7px 15px;
  font-size: 12px;
  background: white;
  //@include box-shadow( 0 1px 3px rgba(34,25,25,0.4) ); 
  -webkit-box-shadow: inset 0 1px 2px rgba(68, 31, 31, 0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(68, 31, 31, 0.25);
  box-shadow: inset 0 1px 2px rgba(68, 31, 31, 0.25);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  line-height: 1.5; 
  
  h2 {
    padding-top: 5px;
  }
  .comments {
    color: $color;
    padding-bottom: 15px;
  }
  .info {
    margin: 0 5px;
  }
  .infobox {
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(#000,.1);
    padding: 6px;
    clear: both;
    &:last-child {
      border-bottom: none; 
      clear: both;
    }
    &:first-child {
      color: #b29c9c;
      b {
        color: #8c7e7e;
      }
    }
    .flickrbombWrapper img {
      margin: 0;
    }
    .flickrbombWrapper,
    img {
      margin-left: -35px;
      float: left;
    }
    b {
      font-weight: bold;
    }
  }
 
}
.item:focus {
    border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
      outline: 0;
      outline: thin dotted \9;
      /* IE6-9 */    
}           
